<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RUP.Properties.Settings.RUPConnectionString" connectionString="Data Source=DESKTOP-8UPVFUS;Initial Catalog=RUP;Persist Security Info=True;User ID=SA;Password=11091996"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>